h1 {
    color: #138913;
}

#navbar {
    height: 100px;
}

.b {
    display: inline-flex;
    height: 100px;
    width: 100px;
    background-color: #000000;
    margin: 10px;
}

#container {
    margin: auto

}
